
<div class="job-favorite-container">
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" [formControl]="searchControl" placeholder="Search favorites" pInputText />
  </span>
  <div *ngIf="(filteredFavoriteJobs$ | async) as filteredJobs">
    <div *ngIf="hasNoFilteredFavoriteJobs(filteredJobs) && hasNoFavoriteJobs()" class="no-results">
      No favorite jobs found.
    </div>
    <div *ngFor="let job of filteredJobs">
      <app-job [job]="job" (toggleFavorite)="toggleFavorite(job)" [isFavorite]="isFavorite(job.id)"></app-job>
    </div>
  </div>
</div>
